body{
    margin: 0;
}

img {
    width: 50%;
}

.head {
    width: 90%;
}

.head1 {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.head2 {
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
}


@media screen and (min-width: 1460px) {
    p{
        width: 50%;
    }
    img{
        width: 50%;
    }
}
    
@media screen and (max-width:1000px) {
    .head1, .head2 {
        display: block;
    }
    img {
        width:100%;
    }
}
